

<div class="width8-dashboard">
<p id="notice"><%= notice %></p>
<div class="property-banner" style="background-image: url(<%= @issue.rental.image.url %>);">

</div>

<div class="property-icon-border">
<i class="material-icons property-icon issue-icon">build</i> 
</div>

<div class="dashboard-padding" style="padding-top: 0px;">

<div style="text-align: center;">

<div class="address-box"><%= @issue.title %></div>


</div>
</div>
