<div class="listing-wrapper">

<div class="col-md-6 col-md-offset-3">

<div style="background: #fff; padding: 30px; border: 1px solid rgb(220, 224, 224); margin-top: 30px;">



<div class="property-banner" style="background-image: url(<%= @rental.image.url %>);">
</div>

<%= render 'form', request: @request %>


</div>
</div>

</div>