<style>body{background-color: #f5f5f5;}</style>
<div class="sign-modal">
<div class="sign-text" style="font-size: 20px; line-height: 1.4;">
Applications are not being taken yet. Please check back soon.
</div> 

</div>