  <% if @rental.feature.bbq? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon bbq"></div><div class="feature-text">BBQ</div>
  </div>
  </div>
  <% end %>

    <% if @rental.feature.new_kitchen? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon upgraded-kitchen"></div><div class="feature-text">New Kitchen</div>
  </div>
  </div>
  <% end %>