 <% if @rental.feature.air? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon air"></div><div class="feature-text">Central air</div>
  </div>
  </div>
  <% end %>


   <% if @rental.feature.dishwasher? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon dishwasher"></div><div class="feature-text">Dishwasher</div>
  </div>
  </div>
  <% end %>

    <% if @rental.feature.hardwood? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon hardwood"></div><div class="feature-text">Hardwood</div>
  </div>
  </div>
  <% end %>

   <% if @rental.feature.washer_dryer? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon washer"></div><div class="feature-text">Washer/Dryer</div>
  </div>
  </div>
  <% end %>

  <% if @rental.feature.deck? %> 
  <div class="col-md-4 feature-margin">
  <div>
  <div class="feature-icon dishwasher"></div><div class="feature-text">Deck/Patio</div>
  </div>
  </div>
  <% end %>



   
   