 <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>

<div class="width6" style="padding: 60px 0px;">

# Your Form
<script type="text/javascript">
  function initialize() {

  var input = document.getElementById('address');
  var autocomplete = new google.maps.places.Autocomplete(input);
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>




<%= simple_form_for(rental) do |f| %>
  

  <div class="field">
    <label>Address</label>
    <%= f.text_field :address, class: "input-form", id: "address" %>
  </div>



  <div class="btn-input">
    <%= f.submit "Submit", class: "btn-green" %>
    <p2>Try Gusto payroll today, risk-free.</p>
  </div>

<% end %>


</div>
