<style>body{background-color: #f3f5f7;}</style>

<div class="property-banner listing-height" style=""></div>



<div class="rental-head">





<div class="rental-head-section">
<div class="address-box">
<%= @rental.address %>
<%= @rental.postal %>
<%= @rental.city %>
</div>
</div>

<div class="rental-head-button">
Apply for Viewing
</div>








</div>




</div>