<div class="white-panel">
<div class="width6">
<h1>List Your Space</h1>
<h3>Businesses love Gusto for its easy setup, automated tax filings and thoughtful support. Discover today why Gusto is the best payroll for you.</h3>
</div>
</div>

<%= render 'form', rental: @rental %>


