<div style="background-color: #484848; border: 1px solid #2f2f2f; height: 60px;">
</div>

<div class="left-navbar">
<div class="left-nav-wrapper">

<div class="small-icon house pull-left"></div>
<h2 class="tiny">Properties</h2>

</div>
</div>

<div class="col-md-8 col-md-offset-2">



</div>
