<%= render 'layouts/owner_dashboard_nav' %>

<div class="row">


<div class="col-md-3 left-navbar">
<%= render 'layouts/properties_nav', locals: { rental: @rental }  %>
</div>


<div class="col-md-7 col-md-offset-4">
<div class="property-show-wrapper">

<h1 class="dash-welcome">Hey there, <%= current_user.firstName.upcase_first %></h1>

<hr/>

</div>

</div>
</div>


