<style>body{background-color: #f7f9fa;}</style>

<div class="col-md-12 left-nav-offset">


<% if @rentals.present? %>
Rented Properties
<hr/>
<% rentals.each do |rental| %>
<%= rental.address %>
<% end %>
<% end %>

</div>





