<div class="login-back">
<div class="header_logo large-abs"></div>



<div class="col-md-6 col-md-offset-3">
<div style="max-height: calc(100% - 100px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);">
<h1 class="text-center" style="margin-bottom: 40px; font-size: 44px; color: #fff;">
You're one step closer to better management
</h1>
<h2 class='white text-center'>
We'll be in touch soon!
</h2>


</div>
</div>
</div>