<div class="landing-body">
<div class="header_logo large-abs white_logo"></div>


<div class="row middle-md">


<div class="row middle-md">
<div class="col-md-6 col-md-offset-3">

<h1 class="banner-land">Rental property made easy</h1>
<p class="banner-land">
The IceCube Collaboration is one of tens of thousands of teams around the world using Slack to make their working lives simpler, more pleasant, and more productive.
</p>
<div style="border: 1px solid #2aa7dd; border-radius: 2px; height: 60px; width: 100%; margin-top: 20px;">
</div>
</div>


</div>
</div>

</div>


</div>