


<div class="landing-banner">

   <div class="container">


<div class="col-md-6 col-md-offset-3">

<div class="text-center">
<h1 class="blue-label banner-title">
Renting made easy
</h1>
</div>

 <div class="row">
<div class="landing-form-info">Discover just how easy owning rental property can be.</div>
 <div style="display: block; margin: 0 auto;">
 <%= render 'contacts/form' %>
</div>
 </div>
</div>

</div>



</div>

<div class="border-bottom">
<h5 class="dark-grey text-center">
<i class="fa fa-map-marker" aria-hidden="true" style="font-size: 20px; margin-right: 8px;"></i> Now serving Kitchener-Waterloo, Ontario
</h5>
</div>


<div class="hide-mobile">


<div class="container" style="margin-top: 60px;">



<div class="row center-md" style="margin-bottom: 60px;">

<div class="col-md-4 sell-blocks">
<div class="icon-land-block">
<h4 class="text-center">Full Service</h4>
<p class="dark-grey text-center">
Marketing, tenant screening, rent collection,
coordinating maintanence and more.
</p>
</div>
</div>
<div class="col-md-4 sell-blocks">
<div class="icon-land-block">
<h4 class="text-center">Transparent</h4>
<p class="dark-grey text-center">
Our industry leading technology
means you always know what's going on.
</p>
</div>
</div>
<div class="col-md-4 sell-blocks">
<div class="icon-land-block">
<h4 class="text-center">Best value</h4>
<p class="dark-grey text-center large-p">
Rezy is just $109/unit/month. No extra costs or hidden fees. 
</p>
</div>
</div>


</div>



</div>



<div class="container">

<hr/>

<div class="text-center">
<h1 class="blue-label" style="margin: 40px 0px;">
What we do
</h1>
</div>



<div class="row middle-md" style="margin-bottom: 30px;">

<div class="col-md-4 col-md-offset-2">
    <h4 style="margin-bottom: 10px;">Find great tenants</h4>
<p class="dark-grey">
A great property starts with great tenants. We market your property on all the leading rental sites and thoroughly vet applicants to ensure that only the best become tenants.
</p> 
</div>


<div class="col-md-4" style="position: relative;  margin-bottom: 30px;">
<div class="explain-icon" style="background-image: url('https://s3-us-west-2.amazonaws.com/rezy/static/tenant_screen.svg'); height: 200px; width: 200px; background-size: 200px 200px;"></div>
</div>




</div>


<div class="row middle-md" style="margin-bottom: 30px;">

<div class="col-md-4 col-md-offset-2">

<div class="explain-icon" style="background-image: url('https://s3-us-west-2.amazonaws.com/rezy/static/tools.svg'); height: 200px; width: 200px; background-size: 200px 200px;"></div>

</div>

<div class="col-md-4">
    <h4 style="margin-bottom: 10px;">Handle Maintanence</h4>
<p class="dark-grey">
Any issues that arise are handled by our experienced network of contractors. Track updates, photos, and invoices of every issue in real-time.
</p> 
</div>







</div>

<div class="row middle-md">
<div class="col-md-4  col-md-offset-2" style="margin-bottom: 30px;">

<h4 style="margin-bottom: 10px;">Collect Rent</h4>
<p class="dark-grey">
Never worry about late rent again. Rent is deposited automatically into your bank account every month. Late fees and other lease terms are handled by our team if necessary. 
</p> 


</div>

<div class="col-md-4">

<div class="explain-icon" style="background-image: url('https://s3-us-west-2.amazonaws.com/rezy/static/money_laptop.svg'); height: 200px; width: 200px; background-size: 200px 200px;"></div>

</div>




</div>

<hr style="margin: 60px 0px"/>


<div class="col-md-8 col-md-offset-2">


        
<div class="text-center">
<h1 class="blue-label" style="margin-bottom: 20px;">
Pricing
</h1>
</div>

<h3 class='text-center dark-grey' style="margin-bottom: 40px;">Rezy is $109/unit/month. No extra costs or hidden fees.</h3>

<div class="row text-center">
<div class="col-xs-4">
</div>
<div class='col-xs-4 highlight'>
Rezy
</div>
<div class='col-xs-4'>
Industry Standard
</div>
<hr class="dotted-line"/>
</div>


<div class="row">
<div class="col-xs-4 dark-grey">
Management Fee
</div>
<div class='col-xs-4 text-center highlight'>
$109/unit
</div>
<div class='col-xs-4 text-center'>
10% of rent
</div>
<hr class="dotted-line"/>
</div>

<div class="row">
<div class="col-xs-4 dark-grey">
Tenant Placement Fee
</div>
<div class='col-xs-4 text-center highlight'>
None
</div>
<div class='col-xs-4 text-center'>
One month's rent
</div>
<hr class="dotted-line"/>
</div>


<div class="row">
<div class="col-xs-4 dark-grey">
Lease renewal fee
</div>
<div class='col-xs-4 text-center highlight'>
None
</div>
<div class='col-xs-4 text-center'>
$100
</div>
<hr class="dotted-line"/>
</div>

<div class="row">
<div class="col-xs-4 dark-grey">
Maintanence fee
</div>
<div class='col-xs-4 text-center highlight'>
None
</div>
<div class='col-xs-4 text-center'>
10%
</div>
</div>



</div>


</div>

<div class="angled-back">
<div class="container">
<div class="col-md-4 col-md-offset-4">

<div class="land-block">
<div class="text-center">
<h1 class="blue-label" style="margin-bottom: 30px;">
Want more info?
</h1>
</div>
<h3 class='text-center dark-grey'>Let one of our rental experts tell you more.</h3>
</div>
<%= render 'contacts/form' %>
</div>
</div>
</div>

</div>
