<style> body {background-color: #eef4f9} </style>
<div class="container">
<div class="col-md-8 col-md-offset-2">


        

<h1 class="bitter-sub" style="margin-top: 60px;">
Simple pricing with no fine print
</h1>


<p style="margin-bottom: 40px;">No long term contracts and no hidden costs. With Rezy, you simply pay a flat fee per unit per month.</p>



</div>




<div class="col-sm-8 col-sm-offset-2" style="border: 1px solid #dedede; padding: 40px; border-radius: 3px;">


<div class="row text-center">
<div class="col-xs-4">
</div>
<div class='col-xs-4 highlight'>
Rezy
</div>
<div class='col-xs-4'>
Industry Standard
</div>
<hr class="dotted-line"/>
</div>


<div class="row">
<div class="col-xs-4 dark-grey">
Management Fee
</div>
<div class='col-xs-4 text-center highlight'>
$109/unit
</div>
<div class='col-xs-4 text-center'>
10% of rent
</div>
<hr class="dotted-line"/>
</div>

<div class="row">
<div class="col-xs-4 dark-grey">
Tenant Placement Fee
</div>
<div class='col-xs-4 text-center highlight'>
None
</div>
<div class='col-xs-4 text-center'>
One month's rent
</div>
<hr class="dotted-line"/>
</div>


<div class="row">
<div class="col-xs-4 dark-grey">
Lease renewal fee
</div>
<div class='col-xs-4 text-center highlight'>
None
</div>
<div class='col-xs-4 text-center'>
$100
</div>
<hr class="dotted-line"/>
</div>

<div class="row">
<div class="col-xs-4 dark-grey">
Maintanence fee
</div>
<div class='col-xs-4 text-center highlight'>
None
</div>
<div class='col-xs-4 text-center'>
10%
</div>
</div>



</div>


</div>


</div>


<div class="row center-md">
<div class="col-md-3 form-card" style="margin-top: 30px; margin-bottom: 60px;">
<%= render 'contacts/form' %>
</div>
</div>
