<div class="login-back">

<h1 class="bitter text-center" style="margin-top: 100px;">
Free Tools and Resources for Landlords
</h1>

<div class="landing-form-info text-center">Sign up to receive monthly articles with tips to male renting a little easier.</div>



<div class="sign-modal">


<%= render 'contacts/form', contact: @contact %>


</div>
</div>