

<div class="header_logo" style="position: absolute; z-index: 10;  top: 4px; left: 15px;"></div>

<div class="col-md-4 col-md-offset-3">
<h1 style="font-weight: 600; font-size: 36px; margin-top: 100px;">Don’t Go There.
Live There.</h1>
<p style="font-weight: 300; font-size: 16px; line-height: 1.6;">
	Airbnb CEO Brian Chesky shared new products with the community that go beyond accommodations and make it possible to live like a local when you travel.
Watch the event
</p>
</div>