<style>

body {background-color: #fff;}


h1 {font-size: 22px; margin: 30px 0px;}

</style>






<%= image_tag("http://i.imgur.com/HsG0Dgl.png") %>


<hr/>

 <div class="width8">

 <div style="color: #171034; text-align: center; margin-bottom: 100px; font-weight: 600; font-size: 80px; line-height: 100px;">Rezy</div>


<div style="background-color: #fc0; margin-bottom: 1000px; height: 36px; padding: 0px 20px; border-radius: 20px; color: #fff; font-weight: 700px; text-align: center; line-height: 36px; display: inline-block;">
Get started
</div>	
<div style="height: 100px; width: 200px; background: #201648; margin: 0px 0px; display: inline-block;"></div>

<div style="height: 100px; width: 200px; background-color: #fc0; margin: 0px 0px; display: inline-block;"></div>
<div style="height: 100px; width: 200px; background-color: #28a759; margin: 0px 0px; display: inline-block;"></div>
<div style="height: 100px; width: 200px; background-color: #125caf; margin: 0px 0px; display: inline-block;"></div>
</div>

<div style="border-bottom: 1px solid border-bottom: 1px solid rgba(0,0,0,0.1); padding: 15px 30px; margin-bott">

</div>


<div class="width10">
</div>


<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/564x/4f/49/a7/4f49a749fd603f6ed3a7d790a45f4d9c.jpg); width: 25%; float: left; height: 300px;"></div>
<div class="banner-image" style="background-image: url(http://o.homedsgn.com/wp-content/uploads/2013/03/Hip-and-Fresh-Apartment-in-Gothenburg-15.jpg); width: 25%; float: left; height: 300px;"></div>
<div class="banner-image" style="background-image: url(http://www.toplaneproperty.com.au/sites/top_lane_property/uploads/images/uploads/tribeca_east_melbourne.jpg); width: 25%; float: left; height: 300px;"></div>
<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/564x/0d/bc/40/0dbc40b0940b20dd4c155d01fa7b7a4c.jpg); width: 25%; float: left; height: 300px;"></div>
<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/564x/ee/b1/ee/eeb1ee442b319e02a580b35fc7cb8020.jpg); width: 20%; float: left; height: 300px;"></div>

<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/564x/94/3f/b8/943fb8379333177f210f29b06fc7e1d3.jpg); width: 20%; float: left; height: 300px;"></div>



<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/564x/5b/f0/9a/5bf09a241ac88c2c54505346a5439b96.jpg); width: 20%; float: left; height: 300px;"></div>


<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/564x/2b/91/23/2b91234e862c0a2a0384f092b4e34ad3.jpg); width: 20%; float: left; height: 300px;"></div>


<div class="banner-image" style="background-image: url(https://s-media-cache-ak0.pinimg.com/236x/30/5c/b3/305cb3bb4af54ccbe2aaabf6cb6bc703.jpg); width: 20%; float: left; height: 300px;"></div>


<div style="display: block; float: none; margin-top: 20px;"></div>


<div class="banner-image" style="display: none; background-image: url(https://cozy.co/img/hero/hero-credit.jpg);">

<div class="black-overlay">

<div class="vertical-align" style="padding: 0px 60px;">

<div class="hero-title sub">
Just as it should be
</div>	

<div class="list-item-cont">
<div class="list-icon"></div>
<div class="hero-text sub">
We pick up, package, and 
send your stuff for the lowest price. 
</div>
</div>

<div class="row"></div>

<div class="list-item-cont">
<div class="list-icon"></div>
<div class="hero-text sub">
We pick up, package, and 
send your stuff for the lowest price. 
</div>
</div>

<div class="row"></div>

<div class="list-item-cont">
<div class="list-icon"></div>
<div class="hero-text sub">
We pick up, package, and 
send your stuff for the lowest price. 
</div>
</div>

</div>

</div>
</div>


<div class="width8">

<div style="font-size: 30px; font-weight: 600;">
Large text 
</div>


</div>
