<div class="footer">
<div class="width10">

<div class="row">


<div class="col-md-1">

<div class="footer-text col-head">About</div>
<div class="footer-text">Cities</div>
<div class="footer-text">Jobs</div>
<div class="footer-text">Contact</div>


</div>

<div class="col-md-1">

<div class="footer-text col-head">Legal</div>
<div class="footer-text">Terms</div>

</div>

<div class="col-md-1 col-md-offset-9">
<div class="header_logo grey_logo"></div>
</div>


</div>


<hr/>
Rezy 2016

</div>
</div>