<div class="regular-header">
<div class="container">
<div class="row middle-md">

<div class="col-xs-3">
<div class="header_logo"></div>
</div>



<div class="col-xs-9 text-right">
<div>


<% if user_signed_in? %>

<% if current_user.type == "Owner" %>

<%= render 'layouts/dashboard_header' %>

<% elsif current_user.type == "Applicant" %>

<%= render 'layouts/applicant_dashboard_nav' %>

<% end %>



<% else %>







<a href="mailto:hello@rezy.ca?Subject=Hello" target="_top" class="header-buttons hide-mobile">Contact</a>



<%= link_to login_path do %>
<div class="btn add-property">
Sign in
</div>
<% end %>




<% end %>


</div>
</div>
</div>
</div>
</div>

