<div class="regular-header">
<div class="container">
<div class="row middle-md">

<div class="col-md-3">
<div class="header_logo"></div>
</div>



<div class="col-md-9 text-right">
<div>


<% if user_signed_in? %>

<% if current_user.type == "Owner" %>

<%= render 'layouts/dashboard_header' %>

<% elsif current_user.type == "Applicant" %>

<%= render 'layouts/applicant_dashboard_nav' %>

<% end %>



<% else %>

<div class="hide-mobile">





<%= link_to "Support", help_path, class: "header-buttons" %>


<%= link_to login_path do %>
<div class="btn add-property">
Sign in
</div>
<% end %>

</div>


<% end %>


</div>
</div>
</div>
</div>
</div>

