
<div class="landing-nav">
<div class="width10">

<div class="logo-large">
Rezy
</div>

<div class="nav-landing-text float-left">Support</div>
<div class="nav-landing-text float-left">Contact Us</div>



<%= link_to new_user_session_path do %>

<div class="btn-green small">
Sign in
</div>

<% end %>



</div>
</div>


<div class="row"></div>