<div class="fixed-header light-header">
<div class="regular-header trans-header">

<div class="logo-box">
<div class="header_logo white_logo"></div>
</div>

<%= link_to new_user_session_path do %>
<div class="header-link white" style="font-size: 17px; margin-right: 10px; font-size: 16px;">Sign in</div>
<% end %>

</div>
</div>