<div class="fixed-header">
<div class="regular-header">

<div class="logo-box">
<div class="header_logo"></div>
</div>

<div class="header-link">514-632-6815</div>
<i class="material-icons" style="margin-left: 15px; float: right; line-height: 60px; font-size: 16px;">phone</i>

</div>
</div>