<div class="top-navbar">
<div class="row">


<div class="col-md-3" style="border-right: 1px solid #2f2f2f;">


<div class="list-item">
Your Rentals
</div>


</div>


<div class="col-md-6 col-md-offset-1">


<% if current_page?(controller: 'pages', action: 'dashboard') %>
<h1 class="white-address">Dashboard</h1>
<% elsif params[:controller] == 'rentals' && %w(show).include?(params[:action]) %>
<h1 class="white-address"><%= @rental.address %></h1>
<% end %>

</div>


</div>
</div>



